body{
    font-family: Arial, Helvetica, sans-serif;
    width: 400px;
    margin-left:auto;
    margin-right:auto;
    
}
h1{
    font-size: 3em;
}
img {
    float: left;
    margin: 10px 20px 10px 0px;
}

dl {
  clear: left;
}
dt{
    font-size: 1.3em;
    text-decoration: underline;
    margin-bottom: 10px;
    margin-top: 50px;
}