body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1{
    font-size: 7em;
    font-weight: lighter;
    margin-bottom: 0px;
}

figure{
    margin-bottom: 60px;
}

figure > img{
    height: 202px;
    border: solid #c6d9f1;
}

figure > figcaption{
    margin-top: 20px;
    font-size: small;
    font-weight: bold;
}

figure > figcaption > span{
    font-style: italic;
}

p.blue,
p.cloud,
p.lingon{
    white-space: pre;
    font-style: italic;
    border-top:solid black 1px;
    border-bottom:solid black 1px;
    padding: 15px;
    font-size: 17px;
    margin: -1px auto;
    width: 225px;
}

p > span{
    font-size: 40px;
    font-style: normal;
}

.blue{
    background-color:  #c6d9f1;
}

.cloud{
    background-color:  #fde9d9;
}

.lingon{
    background-color:  #d99594;
}