body {
    font-family: Verdana,Geneva,sans-serif;
    text-align: center;
}

table,
caption{
    border: 1px solid gray;
    border-collapse: collapse;
    margin-left:auto; 
    margin-right:auto;
}

.property,
caption{
    text-transform: uppercase;
    font-weight: bold;
}

.property{
    border-right: 1px solid gray;   
}

td {
    padding-left: 10px;
    text-align: left;
}

th{
    background-color: red;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

tr:nth-child(even){
    background-color: #f2f2f2
}
