body {
    font-family: Arial, Verdana, sans-serif;
    background-color: #DCDCDC;
}

h1,
h2 {
    color: blue;
    font-weight: bold;
}

ul,
ol {
    border: 1px solid #A9A9A9;
}

p,
ul {
    text-indent: 50px;
}

figcaption {
    font-weight: bold;
    font-size: smaller;
}

.copyright_notice {
    font-size: 0.8em;
}

#special {
    font-size: 0.8em;
    color: yellowgreen;
    font-style: italic;
    border-left: 2px solid black;
    margin-left: 40px;
    padding-left: 10px;
}

code{
    white-space: pre;
}

p::first-letter {
    font-size:8em;
}

p::first-line {
    font-weight: bold;
}